- provide(:title, 'Add New Admin')

%section#right-pane
  .row.admin-header
    .span12
      %h3
        #{current_store.name.titleize}'s Admins

  .single-form
    = simple_form_for :invite, :url => store_admin_members_path do |f|
      = f.error_notification 
      = f.input :email, label: false, input_html: { placeholder: "Email" }
      = f.hidden_field :role, value: @role
      = f.button :submit, :value => "Add New Admin", :class => "form-primary-button"
      = f.error :base

