- provide(:title, 'Admin Dashboard')
%section#right-pane
  .row.admin-header
    .span8
      %h2 
        = "Welcome, #{current_user.full_name}"


  :javascript
    $(document).ready(function(){
      var something = window.location.toString().split('/')[5];
      if (something != null) {
        $('.' + something).addClass('active');
        $('.dashboard').removeClass('active');
      }
    })

  #admin-tab.span8
    %table.table.table-striped.table-bordered.cart-detail
      %thead
        %tr
          %th.span2 Order Number
          %th.span3 Date Ordered
          %th.span2 Order Total
          %th.span2 Status
      %tbody
        - @orders.each do |order|
          %tr
            %td
              = link_to order.id, store_admin_order_path(current_store, order)
            %td= (order.created_at).to_date.strftime("%B %-d, %Y")
            %td= number_to_currency(order.total_price)
            %td= order.current_status
