- provide(:title, 'Admin Orders')
%section#right-pane
  .row.admin-header
    .span9
      %h3
        #{current_store.name.titleize}'s Orders


  :javascript
    $(document).ready(function(){
      var something = window.location.toString().split('/')[5];
      if (something != null) {
        $('.' + something).addClass('active');
        $('.dashboard').removeClass('active');
      }
    })

  #admin-tab.span9
    %table.table.table-striped.table-bordered.cart-detail
      %thead
        %tr
          %th.span2 Order Number
          %th.span3 Date Ordered
          %th.span2 Order Total
          %th.span2 Status
      %tbody
        - @orders.each do |order|
          %tr
            %td
              = link_to order.id, store_admin_order_path(current_store, order)
            %td= (order.created_at).to_date.strftime("%B %-d, %Y")
            %td= number_to_currency(order.total_price)
            %td= order.current_status
