%h1 Current Auctions

%table
  %tr
    %th
    %th
    %th

  - @auctions.each do |auction|
    - auction_product = auction.product
    %tr
      %td= image_tag auction_product.photo.url
      %td= link_to "#{auction_product.title}", auction
      %td= link_to "#{auction_product.description[0..29]}...", auction
%br
