%h1 Current Auctions

%table
  %tr
    %th
    %th
    %th

  - @auctions.each do |auction|
    - auction_product = auction.product
    %tr
      %td.span2= link_to image_tag(auction_product.photo.url, size: "75x75", alt: "pic #2", class: "img-rounded"), auction
      %td.auction-title.span3= link_to "#{auction_product.title}", auction
      %td.auction-description.span5= link_to "#{auction_product.description[0..29]}...", auction
      %td.auction-bid.span2= "Current bid: $#{auction.highest_bid}"
%br
