- provide(:title, 'Auction Detail ')
%section
  .row.auction-block
    .span12
      %h3= @auction.store_name
  .row.fluid
    .span12
      #auction-block
        .row-fluid
          .span12
            .span8.left-pane
              %h2= @auction.product.title

              .row-fluid
                .span4
                  %p.list-label
                    Current Bid
                .span1#highest_bid
                  %p= number_to_currency(@auction.highest_bid)
                -if current_user == @auction.highest_bidder && current_user != nil
                  .span7#highest_bidder
                    %span.label.label-info Highest Bidder

              .row-fluid
                .span4
                  %p.list-label
                    Time Left
                .span8
                  -if @auction.active?
                    #countDownTimer
                  -else
                    %p Auction has ended
                    -# :erb
              -#         <script>
              -#           expirationDate = new Date(<%= "#{@auction.expiration_date.year}, #{@auction.expiration_date.month - 1}, #{@auction.expiration_date.day}, #{@auction.expiration_date.hour}, #{@auction.expiration_date.min}, #{@auction.expiration_date.sec}" %>);
              -#           $('#countDownTimer').countdown({until: expirationDate, format: 'DHMS', compact: true, timezone: +0});
              -#         </script>


              .row-fluid
                .span4
                  %p.list-label
                    Number of Bids
                .span8#number_of_bids
                  %p= @auction.number_of_bids


              .row-fluid
                .span12
                - if @auction.active?
                  = simple_form_for @bid, :url => auction_bids_path(@auction.id), html: { class: 'form-inline', id: 'bid-form'} do |f|
                    = f.error_notification
                    = f.input_field :amount, label: false, class: 'span3', value: "#{session[:bid_data] && session[:bid_data][:amount] ? session[:bid_data][:amount] : ""}"
                    = f.button :submit, "Submit Bid", :class => "auction-primary-button pull-right"

              .row-fluid.product-desc
                .span12
                  %h4.auction_content Product Description
                  %p= @auction.product.description

              .row-fluid.similar-products
                .span12
                  %h4.auction_content Other Auctions From This Seller

                  %ul.thumbnails
                    - if @related_auctions
                      - @related_auctions.each do |auction|
                      - product = auction.product
                        %li.span2
                          %a
                            = link_to auction_path(auction) do
                              = image_tag product.photo.url, size: "75x75", alt: "pic #2", class: "img-rounded"


            .span4
              =image_tag @auction.product.photo.url, size: "300x300", class: "img-rounded"

              .row-fluid.shipping_payment
                .span12
                  %h4.auction_content Shipping and Payment
                  %p
                    Shipping Options:
                    = @auction.shipping_options.capitalize
                  %p
                    Payment Options:
                    - @auction.payment_options.each do |option|
                      = option.payment_type.capitalize
