- provide(:title, 'Edit User Profile')
%section#right-pane
  .row.admin-header
    .span9
      %h3 Edit Your Profile
      = simple_form_for @user do |f|
        = f.error_notification
        = f.input :full_name
        = f.input :email
        = f.input :display_name
        = f.input :password
        = f.input :password_confirmation
        = f.error :base
        %div
          = f.button :submit, :value => "Update Profile", :class => "btn-primary"
