- provide(:title, 'Edit User Profile')
%section#right-pane
  .row.admin-header
    .span9
      %h3 Edit Your Profile
      = simple_form_for @user do |f|
        = f.error_notification
        = f.input :full_name
        = f.input :email
        = f.input :display_name
        = f.input :password
        = f.input :password_confirmation
        = f.error :base

        #edit-card-link
          - if @user.last_4_digits
            Change card ending in: 
            %a{href: "#"} (#{@user.last_4_digits})
          - else
            %a{href: "#"} Add Credit Card


        #edit-credit-card{:style=>"display:none"}

          %h4 Update Your Credit Card Details
          = f.text_field :card_number, placeholder: "Credit Card Number", input_html: {:id => "credit_number", :disabled => true}
          = f.text_field :card_code, placeholder: "Security code (CVV)", input_html: {:disabled => true}
          = select_month(Date.today, :add_month_numbers => true, :field_name => "card_month")
          = select_year(Date.today, :field_name => "card_year")
          %br
          %br

        %div
          = f.button :submit, :value => "Update Profile", :class => "btn-primary"
