- provide(:title, 'User Profile')
%section#right-pane
  .row.admin-header
    .span9
      %h3 Profile

      %ul.profile
        %li
          %span.span3.header Full Name
          %span.span5= @user.full_name
        %li
          %span.span3.header Email
          %span.span5= @user.email
        %li
          %span.span3.header Display Name
          %span.span5= @user.display_name
        %li
          %span.span3.header Credit Card: Last 4 Digits 
          %span.span5= @user.last_4_digits

        %li
          .span8
            = link_to "Update Your Profile", edit_profile_path
