%header.admin-header
  .navbar.navbar-fixed-left
    .navbar
      .navbar-inner
        %a.brand.admin-brand{:href => "#"} Shopmazing
        %ul#admin-menu
          %li= admin_navbar_link 'Dashboard', store_admin_path, %w( admin_header_link dashboard )

          %li= admin_navbar_link 'Orders', store_admin_orders_path(current_store), %w( admin_header_link dashboard )
          %li= admin_navbar_link 'Auctions', store_admin_auctions_path(current_store), %w( admin_header_link dashboard )
          %li= admin_navbar_link 'Admins', store_admin_members_path(current_store), %w( admin_header_link dashboard )
          %li= admin_navbar_link 'Settings', edit_store_admin_store_path(current_store, current_store.id), %w( admin_header_link dashboard )
          %li=link_to 'Your Profile', profile_path, class: "admin_header_link settings"
          %li=link_to 'Logout', logout_path, class: "admin_header_link settings"


