%header
  .navbar.navbar-fixed-top
    .navbar
      .navbar-inner
        .container
          - if current_store
            %a.brand{:href => "/"}= current_store.name
          - else
            %a.brand{:href => "/"} Shopmazing
          %a.brand{:href => "/auctions"} Auctions



          %ul.nav.pull-right
            - if current_user  
              %li
                / %p Welcome #{current_user.full_name}
              %li= link_to "My Account", profile_path
              %li= link_to "Logout", logout_path
            - else
              %li= link_to "Log In", new_session_path
              %li= link_to "Sign Up", new_user_path

          = form_tag( '/products', :method => 'get', :class => 'navbar-search') do
            = text_field_tag :search, params[:search], :placeholder => 'Search', :class => 'search-query'
            = submit_tag 'Search', :style => "position: absolute; left: -9999px; width: 1px; height: 1px;"