%header.admin-header
  .navbar.navbar-fixed-left
    .navbar
      .navbar-inner
        = link_to 'Shopmazing', root_path, class: "brand admin-brand"
        -# %a.brand.admin-brand{:href => "#"} Shopmazing
        %ul#admin-menu
          %li= admin_navbar_link 'Profile', profile_path, %w( admin_header_link dashboard )
          %li= admin_navbar_link 'Purchases', profile_orders_path, %w( admin_header_link orders )
          %li= admin_navbar_link 'Your Bids', bids_path, %w( admin_header_link)

          - if current_user.stores.count > 0
            %li
              = admin_navbar_link 'Your Stores', stores_path, %w( admin_header_link)

          - if current_user.is_super_admin?
            %li
              =link_to 'Platform Admin', admin_home_path, class: "admin_header_link"

          %li
            =link_to 'Logout', logout_path, class: "admin_header_link"

        =link_to "Create New Store", create_new_store_path, class: "admin-primary-button admin-cta"
