- provide(:title, 'Admin Dashboard')
%section#right-pane
  .row.admin-header
    .span12
      %h2 
        = "Welcome, #{current_user.full_name}"
  %ul#admin-tabs
    %li.dashboard.active
      = link_to "Dashboard", store_admin_path
    %li.orders
      = link_to "Orders", store_admin_orders_path
    %li.products
      = link_to "Products", store_admin_products_path
    %li.categories
      = link_to "Categories", store_admin_categories_path
    %li
      =link_to "Admins", store_admin_members_path(current_store)

  :javascript
    $(document).ready(function(){
      var something = window.location.toString().split('/')[5];
      if (something != null) {
        $('.' + something).addClass('active');
        $('.dashboard').removeClass('active');
      }
    })

  #admin-tab.span8
    %table.table.table-striped.table-bordered.cart-detail
      %thead
        %tr
          %th.span7 Name
          %th.span5 Action
      %tbody
        - @categories.each do |category|
          %tr
            %td= category.name
            %td
              = link_to "Edit", edit_store_admin_category_path(current_store, category)
              |
              = link_to "Delete", store_admin_category_path(current_store, category), method: :delete, data: { confirm: 'Are you sure?' }
