.row-fluid
  .span12
    %table.table.table-striped.table-bordered.cart-detail
      %thead
        %tr
          %th.span2 Store Name
          %th.span2 Store Path
          %th.span3 Description
          %th.span3 Actions
      %tbody
        - stores.each do |store|
          %tr
            %td= store.name
            %td= store.path
            %td= truncate(store.description.capitalize, length: 32)
            %td
              - if store.status == "pending"
                = link_to "Approve", admin_store_path(store, toggle: "approve"), method: :put
                |
                = link_to "Decline", admin_store_path(store, toggle: "decline"), method: :put
              - else
                = link_to "Approve", admin_store_path(store, toggle: "approve"), :method => :put

