- provide(:title, 'Admin Edit Store')
%section#right-pane
  .row.admin-header
    .span9
      %h3 Edit Your Store
      = simple_form_for :store, :url => store_admin_store_path(current_store), :method => :put do |f|
        = f.error_notification
        = f.input :name
        = f.input :path
        = f.input :description, as: :text
        = f.error :base
        %div
          = f.button :submit, :value => "Update Store", :class => "btn-primary"
