%h1= "Auctions Matching '#{params[:search]}'"

%table
  %tr
    %th
    %th
    %th

  - @products.each do |product|
    - auction = product.auction
    %tr
      %td= image_tag product.photo.url
      %td= link_to "#{product.title}", auction
      %td= link_to "#{product.description[0..29]}...", auction
%br
